<!DOCTYPE html>
<html>
<head>
    <title>PoultryDetect - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="home">
    <div class="navbar">
        <span>PoultryDetect</span>
        <div class="links">
            <a href="/">Home</a>
            <a href="/predict">Prediction Page</a>
            <a href="/about">About</a>
        </div>
    </div>

    <div class="center">
        <h1>Welcome to Poultry Health Hub</h1>
        <p>Your comprehensive resource for poultry disease management and prevention.</p>
        <a class="btn" href="/predict">Get Started</a>
    </div>

    <div class="images">
        <img src="https://www.poultryworld.net/app/uploads/2024/09/coccidiosis-main-image.png" alt="Coccidiosis">
        <img src="https://thumbs.dreamstime.com/b/mother-hen-tenderly-caring-chicks-serene-natural-setting-picturesque-background-view-320971612.jpg" alt="Healthy Chicken">
        <img src="https://d1lg8auwtggj9x.cloudfront.net/images/newcastledisease.width-820.jpg" alt="NCD">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9-f49ykPFYQgdIBoF4bWoZn73HIiKD15zvQ&s" alt="Poultry Farm">
    </div>
</body>
</html>
